alias ll='ls -lAFhG'
alias l='ls -lFhG'
alias assertions='pmset -g assertions'
alias emo='cat ~/.emoticons'
alias cx='cd ~/git/cx'
alias serv='cd ~/git/cx/services/analytics/src/main/resources/com/cxense'
alias port-clean='du -sh /opt && sudo port clean --all installed && sudo port -f uninstall inactive  && du -sh /opt'
alias opng='optipng -o 9 -dir . *.png'
alias jtran='find . -name "*.jpg" -exec jpegtran -o "{}" > optimized.jpg \; -exec mv optimized.jpg {} \;'
alias rb='git co master && git pull && git co - && git rebase origin/master'
