export MAVEN_OPTS="-Xmx1024m -ea"
export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_40.jdk/Contents/Home/
export NODE_PATH=/usr/local/lib/node_modules/
export NODE_REPL_HISTORY_FILE=~/.iojs_repl_history
export NODE_REPL_MODE=strict
